
/**** portfolio colors ****/

:root {
  --main-color:#d9d9d9;
}

/**** portfolio typeography ****/

* {
  font-family: 'Space Grotesk' , sans-serif;
}

h1 {
  font-size: 30px;
  color: var(--main-color);
}

h2 {
  font-size: 42px;
  color: #fff;
}


h3 {
  margin: 0;
  font-size: 21px;
}

p {
  color: floralwhite;
  font-size: 16px;
  line-height: 1.6;
  width: 95%;
  margin: 10px 0px;
}

/***** portfolio components *****/

.ham-burger {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 73px;
  cursor: pointer;
  padding: 15px;
  left: 22px;
}

.burger-bar {
  position: absolute;
  width: 60%;
  height: 5px;
  background-color: #fff;
  border-radius: 25px;
  left: 39px;
  bottom: 27px;
  transform: translate(-50%, -50%);
  transition: transform .9s, opacity .9s, top .6s;
}

.bar-center {
  top: 7px;
}

.bar-bottom {
  top: 29px;
}

.ham-burger.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 28px;
}

.ham-burger.active .bar-center {
  opacity: 0;
}

.ham-burger.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 28px;
}


a {
  color: #fff;
  text-decoration: none;
}

.project-content .link {
  padding: 9px;
  display: flex;
  color: #fff;
  text-align: end;
  background-color: #4682bb;
  justify-content: center;
  font-size: 12px;
  border-radius: 8px;
}

ul li {
  margin-left: 0px;
  list-style: none;
}




/**** portfolio body ****/

.container {
  max-width: 425px;
  width: 100%;
}


body {
  margin: 0;
  background-color: #151515;
}


/**** portfolio header ****/

header {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin: 15px 40px;
}

.left-screen-menu {
  background-color: #4682bb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 580px;
  position: fixed;
  left: -135px;
  top: 0;
  transition-property: left;
  transition-duration: .9s;
  transition-timing-function: ease-in-out;
}

.left-screen-menu.active {
  left: 0;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/**** portfolio header ****/




/**** portfolio main ****/



/*** hero container ***/

#hero-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0px 16px 54px;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-content h2 {
  color: #fff;
}

/**** hero container ****/




/**** technical skills ****/

#technical-skills {
  margin: 0px;
  padding: 170px 16px;
  background-color: #4682bb;
}

.skills-info {
  text-align: center;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.html5-icon,
.css-icon,
.Github_light-icon,
.javascript-icon {
  width: 50px;
  height: auto;
}

/**** technical skills ****/



/** About Me container **/

.about-me-content {
  padding: 160px 16px;
  line-height: 20px;
}

/** About Me container **/





/***** projects container *****/

#Projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  padding: 36px 10px;
  background-color: #4682bb;
}

.project-info p {
  color: #fff ;
}

.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 4px;
}

.project-cards .project-card {
  border-radius: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: auto;
  box-shadow: 0px 8px 19px -10px black;
}


.project-card:hover .project-content {
  position: absolute;
  top: 0px;
 
}

.project-content {
  justify-content: center;
  background: #415a77;
  border-radius: 5px 5px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  position:absolute;
  transition: 0.3s;
  backdrop-filter: blur(25px);
  top: 250px;
  padding-bottom: 15px;
}

.project-content h3 {
  margin:10px;
  color: royalblue;
  font-size: 20px;
}

.project-content p {
  color: #fff;
  padding-left: 15px;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  width: 100%;
  font-weight: 700;
}

.Tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Tech h4 {
  margin-bottom: 15px;
  margin-top: 5px;
}

.tech-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 40px;
}

.tech-content {
  display: flex;
  gap: 10px;
}

.project-img {
  object-fit: fill;
  width: fit-content;
  width: 100%;
  border-radius: 20px;
  height: 245px;
}

/*** projects container ***/





/***** Contact section ******/


.contact-content  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #242424;
  padding: 50px 16px;
}

.contact-content h2 {
  color: aliceblue;
}

.contact-content > p {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
} 


form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


:placeholder-shown {
  color: #d9d9d9;
}

input {
  outline: #151515;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 5px;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #242424;
  width: 80%;
  height: 43px;
}

textarea {
  padding:16px 0px 0px 16px;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #fff;
  background-color: #242424;
  width: 80%;
  height: auto;
}

/***** Contact section ******/




/***** portfolio footer ******/

footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  font-size: 32px;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: space-around;

}

.fa-linkedin,
.fa-github,
.fa-discord {
  font-size: 25px;
  color: #fff;
}

/***** portfolio footer ******/




/****** media query-tablet ******/

@media screen and (min-width:768px){

  /***** components *****/

  .ham-burger {
    display: none;
  }

  .burger-bar {
  display: none;
  position: absolute;
  width: 60%;
  height: 5px;
  background-color: #4682bb;
  border-radius: 25px;
  left: 39px;
  bottom: 27px;
  transform: translate(-50%, -50%);
  transition: transform .9s, opacity .9s, top .6s;
}

.bar-center {
  top: 7px;
}

.bar-bottom {
  top: 29px;
}

.ham-burger.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 28px;
}

.ham-burger.active .bar-center {
  opacity: 0;
}

.ham-burger.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 28px;
}

/***** components *****/



  h2 {
    font-size: 40px;
  }


  /**** body ****/

  .container {
    max-width: 1440px;
    width: 100%;
  }

/***** header *****/

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-screen-menu {
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  329px;
    height: 150px;
    left: 400px;
    top: -16px;
}

.left-screen-menu.active {
  left: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/***** header *****/



/*** hero section ***/
  
  #hero-container {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 72px;
    margin: 0px 0px 72px;
  }

  .hero-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .hero-content h2 {
    width: 80%;
    margin-top: 10px;
  }

/*** hero section ***/



/**** technical skills ****/

  #technical-skills {
    padding: 40px;
  }

  .skills-content {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .skills-info {
    text-align: left;
    font-size: 40px;
  }

/**** technical skills ****/



/**** About Me ****/

  .about-me-content {
    padding: 60px;
  }

  .about-me-content p {
    line-height: 30px;
  }

/**** About Me ****/




/***** projects section *****/

  #Projects {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }

  .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project-cards .project-card {
    width: 48%;
  }

  .project-content {
    top: 331px;
  }

  .project-content p {
    font-size: 13px;
  }

  .project-img {
    width: 100%;
    object-fit: fill;
  }

  .Tech {
    display: flex;
  }

  .tech-icon {
    width: 40px;
  }
  .tech-content {
    display: flex;
  }

/***** projects section *****/


/**** contact section ****/
  .contact-content {
    padding: 100px;
    display: flex;
    justify-content: center;
  }

/**** contact section ****/
}


/**** media queries desktop ****/

@media screen and  (min-width:1024px) {

  h2 {
    font-size: 55px;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }

    .left-screen-menu {
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  329px;
    height: 150px;
    left: 645px;
    top: -16px;
}

  .nav-bar {
    display: flex;
    gap: 30px;
  }

  /**** body ****/

  .container {
    max-width: 1440px;
    width: 100%;
  }
  /*** hero-section ***/

  #hero-container {
    padding: 10px 0px 108px;
    display: flex;
    flex-direction: row;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-content h2 {
    width: 65%;
    font-size: 55px;
    margin-top: 5px;
  }

  .hero-content p {
    font-size: 20px;
    line-height: 50px;
  }

   /*** hero-section ***/





  /***** technical skills ******/

  #technical-skills {
    padding:51px 110px ;
  }

  .skills-info h2 {
    text-align: left;
    font-size: 55px;
  }

  .skills-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }


    /***** technical skills ******/


      /***** technical skills ******/

  .about-me-content {
    padding:130px 100px ;
  }

  .about-me-content p {
    line-height: 35px;
  }
/****** portfolio projects ******/
  #Projects {
    padding: 25px 100px 130px;
    display: flex;
    gap: 30px;
    justify-content: left;
    flex-direction: row-reverse;
  }

  .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: left;
    margin-top: 20px;
  }

  .project-cards .project-card {
    width: 48%;
    height:332px ;
    display: flex;
  }

  .project-info {
    display: flex;
    flex-wrap: wrap;
  }

  .project-info h2 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .project-info p {
    color: aliceblue;
    font-size: 20px;
  }
  
  .project-content {
     top: 331px;
     display: flex;
     justify-content: center;
  }
  
  .project-content .link {
    font-size: 16px;
  }

  .project-content p {
    font-size: 20px;
    line-height: 31px;
  }

  .project-img {
    object-fit: fill;
    width: 100%;
    height: 330px;
  }

  .Tech {
    display: flex;
    flex-direction: column;
  }

  .tech-content {
    display: flex;
    justify-content: space-around;
  }

  /****** contatct section ******/
  #contact {
 
  }
  .contact-content {
    padding: 75px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     background-color: #242424;
    gap: 20px;
  }

  .contact-content > p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  /****** footer section ******/
  footer {
    display: flex;
    flex-direction: column;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
  }

  .icons {
    display: flex;
    gap: 25px;
    justify-content: space-around;
  }



}
